aiohttp
beautifulsoup4
hachoir
numpy
Pillow
git+https://github.com/subinps/pyrogram@inline-m
requests
tgcrypto
yt-dlp
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
lk21
